<div class="pageHeader">
	<div class="container">
		<div class="col-xs-3 text-left text-white text-11em" hm-tap="go('activity')"><i class="directionfont text-18em">&#xe625;</i></div>
		<div class="col-xs-6 text-center text-white text-11em">骑行龙泉山</div>
		<div class="col-xs-3 text-right text-white text-11em" hm-tap="share()">分享</div>
	</div>
</div>

<div class="pageContent">
	<div class="container background-white">
		<div class="row">
			<div class="col-xs-4 divider-line"></div>
			<div class="col-xs-4 divider-text">活动详情</div>
			<div class="col-xs-4 divider-line"></div>
		</div>
		<div class="row text-gray">
			<div class="col-xs-8">
				<div class="row"><div class="col-xs-12"><i class="activityfont text-10em text-generic">&#xe601;</i>目的地</div></div>
				<div class="row"><div class="col-xs-12 text-gay"><font class="text-8em">成都市龙泉驿区龙泉山风景区</font></div></div>
			</div>
			<div class="col-xs-4 text-right">查看地图 <i class="directionfont text-10em text-gray">&#xe60a;</i></div>
		</div>
		<div class="seperator">
		</div>
		<div class="row text-gray">
			<div class="col-xs-8">
				<div class="row"><div class="col-xs-12"><i class="activityfont text-10em text-generic">&#xe601;</i>集合地点</div></div>
				<div class="row"><div class="col-xs-12 text-gay"><font class="text-8em">小区北大门</font></div></div>
			</div>
			<div class="col-xs-4 text-right">查看地图 <i class="directionfont text-10em text-gray">&#xe60a;</i></div>
		</div>
		<div class="seperator">
		</div>
		<div class="row text-gray">
			<div class="col-xs-8">
				<div class="row"><div class="col-xs-12"><i class="iconfont text-10em text-generic">&#xe78c;</i>联系人</div></div>
				<div class="row"><div class="col-xs-12 text-gay"><font class="text-8em">罗长青 (8栋2单元9号)</font></div></div>
			</div>
			<div class="col-xs-4 text-right">详情 <i class="directionfont text-10em text-gray">&#xe60a;</i></div>
		</div>
		<div class="seperator"></div>
		<div class="row text-gray">
			<div class="col-xs-8">
				<div class="row"><div class="col-xs-12"><i class="iconfont text-10em text-generic">&#xe78b;</i>联系电话</div></div>
				<div class="row"><div class="col-xs-12 text-gay"><font class="text-8em">18798072566</font></div></div>
			</div>
			<div class="col-xs-4 text-right">拨打 <i class="directionfont text-10em text-gray">&#xe60a;</i></div>
		</div>
	</div>
	<div class="container background-white margin-top-20">
		<div class="row padding-top-10 padding-bottom-10">
			<div class="col-xs-12 text-gray">
				大云顶山，海拔982米，山势挺拔，峭壁入云，如刀削斧砍，环绕数里;上有平地数十亩，状若城垣，故又称“石城山”，为宋末八大山城防御体系之一，是著名的抗元城堡遗址。山上林荫霭深，有“云顶日出” “雾山云海” “云顶晴岚”等胜景。山顶上的大云顶寺，建于南北朝，时名曰清修寺，清康熙时重修。山上有唐代摩崖石刻造像。小云顶山距大云顶山2.5千米，山峰瘦削，全山共有110多种树木，浓荫蔽日，翠绿满山。金堂小三峡系沱江切断龙泉山脉形成，峡长10千米，山高谷深，江水奔腾出峡，气势磅礴壮观。
			</div>
		</div>
		<div class="row">
		  <div class="col-xs-6">
		    <a href="javascript:void(0)" class="thumbnail">
		      <img src="http://img3.imgtn.bdimg.com/it/u=2958894099,4234967134&fm=21&gp=0.jpg">
		    </a>
		  </div>
		   <div class="col-xs-6">
		    <a href="javascript:void(0)" class="thumbnail">
		      <img src="http://sc.jb51.net/uploads/allimg/130726/2-130H6163S0S2.jpg">
		    </a>
		  </div>
		</div>
	</div>
	<div class="container background-white margin-top-20">
		<div class="row">
			<div class="col-xs-4 divider-line"></div>
			<div class="col-xs-4 divider-text">6人已参与</div>
			<div class="col-xs-4 divider-line"></div>
		</div>
		<div class="row text-gray">
			<div class="col-xs-6"> <i class="iconfont text-generic text-15em">&#xe78b;</i> 罗长青</div>
			<div class="col-xs-6"><i class="iconfont text-generic text-15em">&#xe78b;</i> 敬星月</div>
		</div>
		<div class="row text-gray">
			<div class="col-xs-6"> <i class="iconfont text-generic text-15em">&#xe78b;</i> 徐徐</div>
			<div class="col-xs-6"><i class="iconfont text-generic text-15em">&#xe78b;</i> 阳逻</div>
		</div>
		<div class="row text-gray">
			<div class="col-xs-6"> <i class="iconfont text-generic text-15em">&#xe78b;</i> 甘微</div>
			<div class="col-xs-6"><i class="iconfont text-generic text-15em">&#xe78b;</i> 林风华</div>
		</div>
	</div>
	<div class="container background-white margin-top-20">
		<div class="row">
			<div class="col-xs-4 divider-line"></div>
			<div class="col-xs-4 divider-text">25条评论</div>
			<div class="col-xs-4 divider-line"></div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-right">
				<i class="iconfont text-15em" ng-class="{'text-generic':commentActive,'text-gray':!commentActive}" hm-tap="comment()">&#xe779;</i> 25&nbsp;&nbsp;&nbsp;&nbsp;<i class="activityfont text-15em" ng-class="{'text-generic':zanActive,'text-gray':!zanActive}" hm-tap="zan()">&#xe641;</i> 40
			</div>
			<div class="col-xs-3"></div>
			<div class="col-xs-3"></div>
		</div>
		<div class="row background-gray padding-top-10 padding-bottom-10" ng-show="commentActive">
			<div class="col-xs-9">
				<input type="text" class="text-input-comment" size="35" placeholder＝"写点儿什么"></input>
			</div>
			<div class="col-xs-3 text-right">发送</div>
		</div>
		<div class="row text-gray margin-top-10">
			<div class="col-xs-8"> 罗长青 (8栋2单元9号)</div>
			<div class="col-xs-4 text-right">刚刚</div>
		</div>
		<div class="row text-gray">
			<div class="col-xs-12 text-8em"> 向往已久了...</div>
		</div>
		<div class="seperator"></div>
		<div class="row text-gray">
			<div class="col-xs-8"> 罗长青 (8栋2单元9号)</div>
			<div class="col-xs-4 text-right">1分钟以前</div>
		</div>
		<div class="row text-gray">
			<div class="col-xs-12 text-8em"> 向往已久了...</div>
		</div>
		<div class="seperator"></div>
		<div class="row text-gray">
			<div class="col-xs-8"> 罗长青 (8栋2单元9号)</div>
			<div class="col-xs-4 text-right">2分钟以前</div>
		</div>
		<div class="row text-gray">
			<div class="col-xs-12 text-8em"> 向往已久了...</div>
		</div>
		<div class="seperator"></div>
		<div class="row text-gray">
			<div class="col-xs-8"> 罗长青 (8栋2单元9号)</div>
			<div class="col-xs-4 text-right">3分钟以前</div>
		</div>
		<div class="row text-gray">
			<div class="col-xs-12 text-8em"> 向往已久了...</div>
		</div>
		<div class="seperator"></div>
		<div class="row text-gray">
			<div class="col-xs-8"> 罗长青 (8栋2单元9号)</div>
			<div class="col-xs-4 text-right">刚刚</div>
		</div>
		<div class="row text-gray">
			<div class="col-xs-12 text-8em"> 向往已久了...</div>
		</div>
		<div class="seperator"></div>
		<div class="row text-gray">
			<div class="col-xs-8"> 罗长青 (8栋2单元9号)</div>
			<div class="col-xs-4 text-right">刚刚</div>
		</div>
		<div class="row text-gray">
			<div class="col-xs-12 text-8em"> 向往已久了...</div>
		</div>
		<div class="seperator"></div>
	</div>
</div> 
<div class="float-button text-center" ng-class="{'background-generic':!activityJoined,'background-gray':activityJoined}" hm-tap="join()">
	<i class="directionfont text-10em text-white">加入</i>
</div>
<div class="share">
	<div class="row">
		<div class="col-xs-4"><i class="infofont text-20em text-generic">&#xe618;</i></div>
		<div class="col-xs-4"><i class="infofont text-20em text-generic">&#xe60a;</i></div>
		<div class="col-xs-4"><i class="infofont text-20em text-generic">&#xe62d;</i></div>
	</div>
	<div class="row padding-top-10 padding-bottom-10">
		<div class="col-xs-4">朋友圈</div>
		<div class="col-xs-4">微信</div>
		<div class="col-xs-4">QQ</div>
	</div>
	<div class="row background-white padding-top-10 padding-bottom-10">
		<div class="col-xs-12" hm-tap="cancel()">
			取消
		</div>
	</div>
</div>
<div class="popup-info popup-info-inactive" ng-show="showInfo">
</div>
