<div class="pageHeader">
	<div class="container">
		<div class="col-xs-3 text-left text-white text-11em" hm-tap="go('my')"><i class="directionfont text-18em">&#xe625;</i></div>
		<div class="col-xs-6 text-center text-white text-11em">收入明细</div>
		<div class="col-xs-3 text-right text-white text-11em"></div>

	</div>
</div>

<div class="pageContent margin-top-20">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-left">2015年5月24日</div>
		</div>
	</div>
	<div class="container background-white">
		<div class="row" style="height:60px" hm-tap="go('my-order-details')">
		  <div class="col-xs-4" hm-tap="go('product-details')">
		  	<div class="thumbnail">
		      <img style="height:50px"src="http://img5.imgtn.bdimg.com/it/u=1649012055,1883084888&fm=21&gp=0.jpg" />
		    </div>
		  </div>
		  <div class="col-xs-6">
		  	<div class="row" style="height:30px;line-height:30px">
		  		<div class="col-xs-12">
		    	精选大西红柿
		    	</div>
		    </div>
		    <div class="row text-gray" style="height:30px;line-height:30px">
		    	<div class="col-xs-6">
		    	数量 2
		    	</div>
		    	<div class="col-xs-6 text-left">
		    	金额 ¥20.0
		    	</div>
		    </div>
		  </div>
		  <div class="col-xs-2 text-right" style="height:60px;line-height:60px">
		  		<i class="directionfont text-20em">&#xe60a;</i>
		  </div>
		</div>
		<div class="seperator">

		</div>
		<div class="row" style="height:60px" hm-tap="go('my-order-details')">
		  <div class="col-xs-4" hm-tap="go('product-details')">
		  	<div class="thumbnail">
		      <img style="height:50px"src="http://img5.imgtn.bdimg.com/it/u=1649012055,1883084888&fm=21&gp=0.jpg" />
		    </div>
		  </div>
		  <div class="col-xs-6">
		  	<div class="row" style="height:30px;line-height:30px">
		  		<div class="col-xs-12">
		    	精选大西红柿
		    	</div>
		    </div>
		    <div class="row text-gray" style="height:30px;line-height:30px">
		    	<div class="col-xs-6">
		    	数量 2
		    	</div>
		    	<div class="col-xs-6 text-left">
		    	金额 ¥20.0
		    	</div>
		    </div>
		  </div>
		  <div class="col-xs-2 text-right" style="height:60px;line-height:60px">
		  		<i class="directionfont text-20em">&#xe60a;</i>
		  </div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-left">2015年5月23日</div>
		</div>
	</div>
	<div class="container background-white">
		<div class="row" style="height:60px" hm-tap="go('my-order-details')">
		  <div class="col-xs-4" hm-tap="go('product-details')">
		  	<div class="thumbnail">
		      <img style="height:50px"src="http://img5.imgtn.bdimg.com/it/u=1649012055,1883084888&fm=21&gp=0.jpg" />
		    </div>
		  </div>
		  <div class="col-xs-6">
		  	<div class="row" style="height:30px;line-height:30px">
		  		<div class="col-xs-12">
		    	精选大西红柿
		    	</div>
		    </div>
		    <div class="row text-gray" style="height:30px;line-height:30px">
		    	<div class="col-xs-6">
		    	数量 2
		    	</div>
		    	<div class="col-xs-6 text-left">
		    	金额 ¥20.0
		    	</div>
		    </div>
		  </div>
		  <div class="col-xs-2 text-right" style="height:60px;line-height:60px">
		  		<i class="directionfont text-20em">&#xe60a;</i>
		  </div>
		</div>
		<div class="seperator">

		</div>
		<div class="row" style="height:60px" hm-tap="go('my-order-details')">
		  <div class="col-xs-4" hm-tap="go('product-details')">
		  	<div class="thumbnail">
		      <img style="height:50px"src="http://img5.imgtn.bdimg.com/it/u=1649012055,1883084888&fm=21&gp=0.jpg" />
		    </div>
		  </div>
		  <div class="col-xs-6">
		  	<div class="row" style="height:30px;line-height:30px">
		  		<div class="col-xs-12">
		    	精选大西红柿
		    	</div>
		    </div>
		    <div class="row text-gray" style="height:30px;line-height:30px">
		    	<div class="col-xs-6">
		    	数量 2
		    	</div>
		    	<div class="col-xs-6 text-left">
		    	金额 ¥20.0
		    	</div>
		    </div>
		  </div>
		  <div class="col-xs-2 text-right" style="height:60px;line-height:60px">
		  		<i class="directionfont text-20em">&#xe60a;</i>
		  </div>
		</div>
	</div>
</div>

