<div class="pageHeader">
	<div class="container">
		<div class="col-xs-3 text-left text-white text-11em" hm-tap="go('my')"><i class="directionfont text-18em">&#xe625;</i></div>
		<div class="col-xs-6 text-center text-white text-11em">我的资料</div>
		<div class="col-xs-3 text-right text-white text-11em"></div>

	</div>
</div>

<div class="pageContent">
	<div class="container background-white">
		<div class="row padding-top-10 padding-bottom-10 text-gray" hm-tap="go('modify-info')">
		  <div class="col-xs-6">
		  	头像
		  </div>
		  <div class="col-xs-6 text-right">
		  		<i class="directionfont">&#xe60a;</i>
		  </div>
		</div>
		<div class="seperator">

		</div>
		<div class="row padding-top-10 padding-bottom-10 text-gray" hm-tap="go('modify-info')">
		  <div class="col-xs-6">
		  	姓名
		  </div>
		  <div class="col-xs-6 text-right">
		  		罗长青 <i class="directionfont">&#xe60a;</i>
		  </div>
		</div>
		<div class="seperator">

		</div>
		<div class="row padding-top-10 padding-bottom-10 text-gray" hm-tap="go('modify-info')">
		  <div class="col-xs-6">
		  	电话
		  </div>
		  <div class="col-xs-6 text-right">
		  		18428396582 <i class="directionfont">&#xe60a;</i>
		  </div>
		</div>
		<div class="seperator">

		</div>
		<div class="row padding-top-10 padding-bottom-10 text-gray" hm-tap="go('modify-info')">
		  <div class="col-xs-4">
		  	住址
		  </div>
		  <div class="col-xs-8 text-right">
		  		成都市锦江区468公馆1期8栋3105 <i class="directionfont">&#xe60a;</i>
		  </div>
		</div>
	</div>

	
</div>

