<div class="pageHeader">
	<div class="container">
		<div class="col-xs-3 text-left text-white text-11em" hm-tap="go('my')"><i class="directionfont text-18em">&#xe625;</i></div>
		<div class="col-xs-6 text-center text-white text-11em">积分明细</div>
		<div class="col-xs-3 text-right text-white text-11em"></div>

	</div>
</div>

<div class="pageContent">
	<div class="container margin-top-10 margin-bottom-10">
		<div class="row">
			<div class="col-xs-12">2016年7月1日</div>
			
		</div>
	</div>
	
	<div class="container background-white">
		<div class="row">
		  <div class="col-xs-8">签到</div>
		  <div class="col-xs-2">收</div>
		  <div class="col-xs-2">200</div>
		</div>
		<div class="seperator"></div>
		<div class="row">
		  <div class="col-xs-8">支付社区问题答案</div>
		  <div class="col-xs-2">支</div>
		  <div class="col-xs-2">200</div>
		</div>
		<div class="seperator"></div>
		<div class="row">
		  <div class="col-xs-8">回答社区问题</div>
		  <div class="col-xs-2">收</div>
		  <div class="col-xs-2">200</div>
		</div>
		<div class="seperator"></div>
		<div class="row">
		  <div class="col-xs-8">发起活动</div>
		  <div class="col-xs-2">收</div>
		  <div class="col-xs-2">200</div>
		</div>
		<div class="seperator"></div>
		
	</div>
	<div class="container margin-top-10 margin-bottom-10">
		<div class="row">
			<div class="col-xs-12">2016年6月31日</div>
			
		</div>
	</div>
	<div class="container background-white">
		<div class="row">
		  <div class="col-xs-8">签到</div>
		  <div class="col-xs-2">收</div>
		  <div class="col-xs-2">200</div>
		</div>
		<div class="seperator"></div>
		<div class="row">
		  <div class="col-xs-8">支付社区问题答案</div>
		  <div class="col-xs-2">支</div>
		  <div class="col-xs-2">200</div>
		</div>
		<div class="seperator"></div>
		<div class="row">
		  <div class="col-xs-8">回答社区问题</div>
		  <div class="col-xs-2">收</div>
		  <div class="col-xs-2">200</div>
		</div>
		<div class="seperator"></div>
		<div class="row">
		  <div class="col-xs-8">发起活动</div>
		  <div class="col-xs-2">收</div>
		  <div class="col-xs-2">200</div>
		</div>
		<div class="seperator"></div>
		
	</div>
</div>

