<div class="pageHeader">
	<div class="container">
		<div class="col-xs-3 text-left text-white text-11em" hm-tap="showUtility()"><i class="infofont">&#xe608;</i></div>
		<div class="col-xs-6 text-center text-white text-11em">问答</div>
		<div class="col-xs-3 text-right text-white text-11em"></div>

	</div>
</div>

<div class="pageContent">
	<div class="row margin-top-20 tabs">
			<div id="question-type-0" class="col-xs-4 tab-item" hm-tap="changeQuestionType('question-type-0')" ng-class="{'active':isQuestionType('question-type-0')}">所有提问</div>
			<div id="question-type-1" class="col-xs-4 tab-item" hm-tap="changeQuestionType('question-type-1')" ng-class="{'active':isQuestionType('question-type-1')}">我的提问</div>
			<div id="question-type-2" class="col-xs-4 tab-item" hm-tap="changeQuestionType('question-type-2')" ng-class="{'active':isQuestionType('question-type-2')}">我的回答</div>
		</div>
	<div class="container margin-top-20 background-white">
		<div class="row">
			<div class="col-xs-12">
				<div class="row padding-10">
					<div class="col-xs-12">房产证什么时候可以拿到 ?</div>	
				</div>
				<div class="row padding-10">
					<div class="col-xs-6 text-left"><i class="iconfont">&#xe78b;</i>罗长青</div>	
					<div class="col-xs-6 text-right">
						<i class="iconfont">&#xe6bc;</i>4 <i class="infofont text-generic">&#x3433;</i>回答
					</div>
				</div>
			</div>
		</div>
		
	</div>
<div class="container margin-top-20 background-white">
		<div class="row">
			<div class="col-xs-12">
				<div class="row padding-10">
					<div class="col-xs-12">谁有车位出租 ?</div>	
				</div>
				<div class="row padding-10">
					<div class="col-xs-6 text-left"><i class="iconfont">&#xe78b;</i>罗长青</div>	
					<div class="col-xs-6 text-right">
						<i class="iconfont">&#xe6bc;</i>4 <i class="infofont text-generic">&#x3433;</i>回答
					</div>
				</div>
			</div>
		</div>
		
	</div><div class="container margin-top-20 background-white">
		<div class="row">
			<div class="col-xs-12">
				<div class="row padding-10">
					<div class="col-xs-12">物管拆除绿化, 维权！</div>	
				</div>
				<div class="row padding-10">
					<div class="col-xs-6 text-left"><i class="iconfont">&#xe78b;</i>罗长青</div>	
					<div class="col-xs-6 text-right">
						<i class="iconfont">&#xe6bc;</i>4 <i class="infofont text-generic">&#x3433;</i>回答
					</div>
				</div>
			</div>
		</div>
		
	</div><div class="container margin-top-20 background-white">
		<div class="row">
			<div class="col-xs-12">
				<div class="row padding-10">
					<div class="col-xs-12">楼下超市几点关门</div>	
				</div>
				<div class="row padding-10">
					<div class="col-xs-6 text-left"><i class="iconfont">&#xe78b;</i>罗长青</div>	
					<div class="col-xs-6 text-right">
						<i class="iconfont">&#xe6bc;</i>4 <i class="infofont text-generic">&#x3433;</i>回答
					</div>
				</div>
			</div>
		</div>
		
	</div>

</div>
<div class="float-button text-center" ng-class="{'background-generic':!activityJoined,'background-gray':activityJoined}" hm-tap="join()">
	<i class="directionfont text-10em text-white">提问</i>
</div>
