<div class="utility" ng-controller="UtilityCtrl">
	<div class="container text-white">
		<div class="row" style="heigfht:70px;line-height:70px">
			<div class="col-xs-3 text-left" hm-tap="hideUtility()"><i class="infofont">&#xe608;</i></div>
		</div>
			
	<div class="row">
		<div class="col-xs-12 text-left text-15em text-generic">物业助手</div>
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-10 padding-10 text-left text-12em">联系物业</div>
	</div>
	<div class="row border-bottom">
		<div class="col-xs-2"></div>
		<div class="col-xs-10 text-left text-12em padding-10">物业信息(2)</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-left text-15em text-generic">生活助手</div>
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-10 padding-10 text-left text-12em">小区周边</div>
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-10 padding-10 text-left text-12em">快递揽件</div>
	</div>
	<div class="row border-bottom">
		<div class="col-xs-2"></div>
		<div class="col-xs-10 text-left text-12em padding-10">水电气费</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-left text-15em text-generic">实用信息</div>
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-10 padding-10 text-left text-12em">户口产权</div>
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-10 padding-10 text-left text-12em">社保公积金</div>
	</div>
	<div class="row border-bottom">
		<div class="col-xs-2"></div>
		<div class="col-xs-10 text-left text-12em padding-10">中小幼招生</div>
	</div>
	</div>
</div>